__cache/
__database/
static/

# Just no
__phpinfo.php
infotest.php

# Local error log when debugging
httpd-error.log


# Compass config.rb
config.rb

# CSS (Compass Generated)
css/components/
css/elements/
css/objects/
css/settings/
css/tools/
css/utilities/
css/vendor/
css/screen.scss
css/_base.scss

# Site configuration
site.config.php
