$theme-color: #005c95;
$theme-on-color: #fff;
$theme-color-dark: #094e79;
$theme-color-darkest: #06304a;
$theme-color-light: #06304a;
$theme-link-color: $theme-color;
$theme-focus-color: #fabb00;
$theme-color-complementary: #278900;